body{
	margin:0px;
}
textarea{
	//opacity:0;
	width:230px;
	height:60px;
	background-color:#99FFCC;
	border:0px solid #008800;
}
#banner{
	margin:0px;
	width:100%;
	height:50px;
	background-color:#004080;
	padding: 20px 20px 20px 20px;
}
.menu{
	float:left;
	margin-right:40px;
}
#noteArea{
	//border:1px solid #0080ff;
	background-color:#d5dadd;
	width:80%;
	float:left;
	//border-radius:10px;
	overflow-x:auto;
	overflow-y:auto;
	overflow-x:auto;
	overflow-y:auto;
}
#nav{
	//border:1px solid #0080ff;
	width:20%;
	background-color:#C0C0C0;
	float:right;
	margin:0;
}
#footer{
	width:100%;
	//position: absolute;
    //bottom: 0px;
	//border:1px solid #0080ff;
	background-color:#82c0ff;
	height:40px;
}
.container{
	//border:1px solid #00ff80;
	horizontal-align:center;
	padding:2px 2px 2px 2px;
	background-color:#e8ed8b;
}